<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/styles.css"/>

        <title>Perspective</title>
    </head>

    <body>
        <div class="header">
            <h1>Perspective</h1>

            <p>Perspective is a casual puzzle game in which players navigate a 3-dimensional maze by controlling only rotation and gravity.</p>

            <p>Swipe to rotate maze | Tap to activate gravity</p>
        </div>

        <div class="page">
            <div class="tiles">
                <div class="tile">
                    <a href="/daily" style="text-decoration: none;">
                        <div class="daily">
                            <h3 style="color: #DFDF00;">{{.Date}}</h3>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <h2>Daily Puzzle</h2>
                    <p>A new 3D puzzle is released everyday, can you solve it in the shortest time?</p>
                    <p>Your skills will be put to the test as the difficulty increases throughout the week - starting off <strong>Super Easy</strong> on Sunday, getting <strong>Quite Tricky</strong> on Wednesday, and finally reaching <strong>Brutally Hard</strong> on Saturday!</p>
                    <p><a href="/daily">Play Now</a></p>
                </div>
            </div>
        </div>

        <div class="page" style="background-color: #2582E3;">
            <div class="tiles">
                <div class="tile" style="text-align: right;">
                    <h2 class="light">Perspective (Original)</h2>
                    <p class="light">Solve 3D puzzles offline and on the go with the highly-rated game that is packed with more than <strong>75</strong> puzzles in a wide range of difficulties, plus many more available for purchase!</p>
                    <p class="light"><a class="light" href="https://play.google.com/store/apps/details?id=com.aletheiaware.perspective.android">Download Now</a> | <a class="light" href="https://www.youtube.com/watch?v=sUdJPnNiVFs">Watch Trailer</a></p>
                </div>
                <div class="tile">
                    <a href="https://play.google.com/store/apps/details?id=com.aletheiaware.perspective.android" alt="Perspective Logo" width="200px" height="200px">
                        <img src="/static/perspective.png" />
                    </a>
                </div>
            </div>
        </div>

        <div class="page" style="background-color: #6132A8;">
            <div class="tiles">
                <div class="tile">
                    <a href="https://play.google.com/store/apps/details?id=com.aletheiaware.perspectivepotv.android" alt="Perspective: Perils of the Void Logo" width="200px" height="200px">
                        <img src="/static/perspectivepotv.png" />
                    </a>
                </div>
                <div class="tile">
                    <h2 class="light">Perspective: Perils of the Void</h2>
                    <p class="light">Join intrepid explorer extraordinaire - <strong>Vanessa Von Cactus</strong> - and her experimental new spaceship - <strong>The Seeker</strong> - as they travel the galaxy, uncover the mysteries of deep space, and try to escape the perils of the void!</p>
                    <p class="light">Solve 3D puzzles by swiping to line up the perfect shot, and then launching to jump between asteroids, traverse portals, and reach the goal.</p>
                    <p class="light"><a class="light" href="https://play.google.com/store/apps/details?id=com.aletheiaware.perspectivepotv.android">Download Now</a> | <a class="light" href="https://www.youtube.com/watch?v=FoqqckI-XzQ">Watch Trailer</a></p>
                </div>
            </div>
        </div>

        <div class="footer">
            <p class="meta">Perspective is made available by <a href="https://aletheiaware.com">Aletheia Ware</a> under the <a href="https://aletheiaware.com/terms-of-service.html">Terms of Service</a> and <a href="https://aletheiaware.com/privacy-policy.html">Privacy Policy</a>.</p>
            <p class="meta">Perspective is an open-source project released under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a> and hosted on <a href="https://github.com/AletheiaWareLLC/perspectivefungo">Github</a>.</p>
            <p class="meta">© 2022 Aletheia Ware LLC.  All rights reserved.</p>
            <a href="https://aletheiaware.com">
                <img src="/static/logo.svg" alt="Aletheia Ware LLC Logo" width="48px" height="48px" />
            </a>
        </div>
    </body>
</html>
